@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 1280px;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.body-container {
  background-color: #ffffff;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  padding: 8px 8px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:focus {
  outline: none;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-brown {
  background-color: #756157;
}

.button-brown:hover,
.button-brown:focus-visible {
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover,
.button-blue:focus-visible {
  background-color: #68a2ca;
}

.button-blue:active {
  background-color: #82b3d3;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover,
.button-green:focus-visible {
  background-color: #6c9e42;
}

.button-green:active {
  background-color: #7db54f;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-transparent:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.field {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
}

.field:hover {
  background-color: #e6e6e6;
}

.page-header {
  position: relative;
  z-index: 1;
}

.main-nav {
  display: flex;
  align-items: center;
  padding: 0 70px;
  margin: 0 auto;
}

.navigation-logo {
  align-self: start;
  margin-right: 30px;
  width: 138px;
  height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 470px;
}

.navigation-user {
  max-width: 135px;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  box-shadow: inset 0 0 5px 3px #83b3d3;
}

.navigation-link:focus-visible {
  outline: none;
  box-shadow: inset 0 0 5px 3px #000000;
}

.navigation-link:active {
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user .navigation-link {
  display: block;
  width: 44px;
  height: 64px;
  padding: 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.navigation-link-search {
  background-image: url("../images/icons/icon-search.svg");
}

.navigation-link-favourites {
  background-image: url("../images/icons/icon-heart.svg");
}

.favorites-count {
  position: absolute;
  top: 11px;
  left: 20px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 0;
  color: #FFFFFF;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.favorites-count:hover {
  background-color: #6c9e42;
}

.main-nav .button {
  padding: 8px 34px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  position: relative;
  padding: 51px 371px 82px;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #293c46;
  text-align: center;
}

.hero::after {
  position: absolute;
  left: 0;
  top: 429px;
  content: "";
  width: 1200px;
  height: 57px;
  background-image: url("../images/index-background-mask.svg");
  background-repeat: no-repeat;
}

.title-logo {
  display: block;
}

.section-title {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-description {
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages {
  padding-top: 69px;
  display: flex;
  flex-direction: column;
}

.advantages .section-title {
  width: 640px;
  align-self: center;
  margin-bottom: 25px;
}

.advantages .section-description {
  margin-bottom: 90px;
  padding: 0 200px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
  width: 400px;
  min-height: 385px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-item-full {
  width: 1200px;
  background-color: #82B3D3;
}

.advantages-wrapper {
  position: relative;
  align-self: center;
  box-sizing: border-box;
  max-width: 400px;
  padding: 100px 80px;
}

.advantages-title {
  position: relative;
  display: inline-block;
  width: 172px;
  padding: 0;
  margin: 0;
  margin-bottom: 62px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title::after {
  position: absolute;
  left: 50%;
  bottom: -32px;
  width: 60px;
  height: 2px;
  margin-left: -30px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-description {
  padding: 0;
  margin: 0;
  min-width: 230px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-full .advantages-title {
  color: #ffffff;
}

.advantages-item-full .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-full .advantages-description {
  color: #ffffff;
}

.advantages-picture {
  height: 100%;
  aspect-ratio: 800 / 385;
  object-fit: cover;
}

.services {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
}

.services .section-title {
  width: 505px;
  align-self: center;
  margin-bottom: 20px;
}

.services .section-description {
  margin-bottom: 64px;
  padding: 0 200px;
}

.services-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.services-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 81px 85px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(2n) {
  background-color: #ffffff;
}

.services-title {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-title::before {
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  left: 77px;
  right: 77px;
  top: -106px;
  width: 75px;
  height: 76px;
  content: "";
}

.services-title-house::before {
  background-image: url("../images/icons/advantage-icon-home.svg");
}

.services-title-food::before {
  background-image: url("../images/icons/advantage-icon-food.svg");
}

.services-title-souvenire::before {
  background-image: url("../images/icons/advantage-icon-prize.svg");
}

.services-description {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.hotel-search {
  padding: 96px 304px 0;
  text-align: center;
}

.hotel-search .section-title {
  margin-bottom: 20px;
}

.hotel-search .section-description {
  margin-bottom: 54px;
}

.hotel-search-link {
  padding: 8px 50px;
  margin-bottom: 96px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 258px 104px;
  color: #ffffff;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.index-subscribe {
  background-color: #28383c;
}

.subscribe .section-title {
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe .section-description {
  display: inline-block;
  width: 475px;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form input {
  flex-grow: 1;
  padding: 14px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe-field:focus-visible {
  outline: none;
  background-color: #e6e6e6;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.subscribe-field:not(:placeholder-shown).field:focus-visible {
  background-color: #f2f2f2;
  box-shadow: inset 0 0 0 2px #000000;
}

.subscribe-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  max-width: 200px;
  list-style: none;
}

.social-item {
  width: 47px;
  height: 40px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.social-link:focus-visible {
  outline: none;
}

.social-icon {
  fill: #83b3d3;
}

.social-link:hover svg,
.social-link:focus-visible svg {
  fill: #68a2ca;
}

.social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-link-tel {
  display: block;
  padding: 5px 0;
  width: 720px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

.contacts-link-tel:hover,
.contacts-link-tel:focus-visible {
  color: #756157;
  outline: none;
}

.contacts-link-tel:active {
  color: rgba(117, 97, 87, 0.3);
}

.contacts-link-logo {
  margin-top: 5px;
  width: 115px;
}

.contacts-link-logo:focus-visible {
  outline: none;
}

.contacts-logo-icon {
  fill: #000000;
}

.contacts-link-logo:hover .contacts-logo-icon,
.contacts-link-logo:focus-visible .contacts-logo-icon {
  fill: #756157;
}

.contacts-link-logo:active .contacts-logo-icon {
  fill: rgba(117, 97, 87, 0.3);
}

/* Страница каталога */

.catalog-header {
  padding: 35px 70px 70px;
  color:#ffffff;
  background-color: #25383f;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-header-title {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  display: block;
  top: 5px;
  right: -18px;
  width: 7px;
  height: 10px;
  background-image: url("../images/icons/icon-breadcumps.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  min-width: 13px;
  min-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  background-image: url("../images/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  outline: 3px solid #83b3d3;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

/* Catalog Filter */

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: none;
}

.catalog-filter-group-price {
  margin-left: auto;
}

.price-form-wrapper {
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
}

.field-wrapper {
  position: relative;
}

.field-wrapper input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px  #83b3d3;
  background-color: #e6e6e6;
}

.field-wrapper input:active {
  box-shadow: inset 0 0 0 2px  #000000;
}

.catalog-filter-group-price label {
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  top: 12px;
  right: 20px;
}

.filter-group-title {
  padding: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  display: block;
  position: relative;
  padding-left: 36px;
}

.control:hover {
  opacity: 0.6;
}

.control:focus-visible {
  outline: none;
}

.catalog-filter-item:focus-within .control-mark {
  outline: 3px solid #83b3d3;
}

.control:active {
  opacity: 0.3;
}

.control-mark {
  position: absolute;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/icons/checkbox-checkmark.svg");
  background-repeat: no-repeat;
  background-position: 4px 5px;
}

.control-input[type="checkbox"]:disabled + .control-mark,
.control-input[type="checkbox"]:disabled ~ .control-name,
.control-input[type="radio"]:disabled + .control-mark,
.control-input[type="radio"]:disabled ~ .control-name {
  opacity: 0.3;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.catalog-filter-group .field {
  padding: 12px 20px;
  padding-right: 42px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
}

.field-wrapper input[type=number]::-webkit-outer-spin-button,
.field-wrapper input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.field-wrapper input[type=number] {
    -moz-appearance:textfield;
}

.catalog-filter-group .field-price-from {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.catalog-filter-group .field-price-to {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Range Bar */

.range-scale {
  position: relative;
  width: 288px;
  height: 4px;
  margin-bottom: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  outline: 2px solid #83b3d3;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 56px;
  width: 191px;
}

.filter-button-wrapper .button:not(:last-child) {
  margin-bottom: 32px;
}

.catalog-products {
  padding: 50px 70px 60px;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-products b {
  width: 360px;
  margin-right: auto;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  box-sizing: border-box;
  width: 292px;
  padding: 12px 35px 12px 18px;
  margin-right: 70px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/icons/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  -webkit-appearance: none;
          appearance: none;
}

.select-control:hover,
.select-control:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  border-color: #000000;
  opacity: 0.3;
}

.view-icon-list {
  max-width: 272px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.view-icon {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: 50% 50%;
}

.view-icon-table {
  background-image: url("../images/icons/icon-grid.svg");
}

.view-icon-slide {
  background-image: url("../images/icons/icon-slide.svg");
}

.view-icon-scroll {
  background-image: url("../images/icons/icon-list.svg");
}

.view-icon:hover {
  border-color: #000000;
}

.view-icon:focus-visible {
  border-color: #68a2ca;
  outline: none;
}

.view-icon:active {
  border-color: #000000;
}

.view-icon-current {
  border-color: #000000;
}

.product-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 342px);
  gap: 18px 17px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  list-style: none;
}

.product-list::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  height: 1px;
  background-color: #e6e6e6;
  content: "";
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr repeat(3, auto);
  column-gap: 20px;
  row-gap: 16px;
  width: 300px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  align-items: center;
}

.product-card-link {
  display: block;
  grid-column: 1 / -1;
  text-decoration: none;
  align-self: start;
}

.product-card-image {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}

.product-card-title {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card-price {
  justify-self: end;
}

.hotel-rate {
  min-height: 17px;
  background-image: url("../images/icons/icon-star.svg");
  background-size: 18px 17px;
  background-repeat: space;
  align-self: center;
}

.one-star {
  width: 24px;
}

.two-stars {
  width: 42px;
}

.three-stars {
  width: 65px;
}

.four-stars {
  width: 87px;
}

.five-stars {
  width: 107px;
}

.product-card-rate {
  font-size: 16px;
  line-height: 20px;
  padding: 9px 0 8px;
  text-align: center;
  border-radius: 4px;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  width: 60px;
  text-align: center;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 12px;
  color: #ffffff;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
  overflow: hidden;
}

.pagination-link:not(.pagination-current, .pagination-ellipses):hover,
.pagination-link:not(.pagination-current, .pagination-ellipses):focus-visible {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
  outline-offset: -1px;
}

.pagination-link:not(.pagination-current, .pagination-ellipses):active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-ellipses {
  color: #000000;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  padding: 17px 0;
}

.catalog-subscribe {
  background-image: none;
}

.catalog-subscribe .section-title {
  color: #000000;
}

.catalog-subscribe .section-description {
  color: #333333;
}


/* Модальное окно */

.modal-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  overflow-y: auto;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  padding: 64px 70px;
  margin: auto;
  background-color: #ffffff;
}

.modal-search {
  box-sizing: border-box;
  width: 717px;
  min-height: 576px;
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  padding: 16px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active svg {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-field-group-date {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 137px 440px;
  align-items: center;
}

.date-title {
  position: relative;
}

.date-title::after {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -420px;
  background-image: url("../images/icons/icon-date.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.date-description {
  grid-column: 2 / 3;
}

.modal-field-title {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000
}

.modal-field {
  width: 100%;
  padding: 12px 20px 10px 20px;
  margin-bottom: 6px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color:#000000;
}

.modal-field-date {
  padding-right: 45px;
}

.modal-field-date:focus-visible {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
  box-shadow: none;
}

.modal-field-date:active {
  background-color: #f2f2f2;
  outline: none;
  box-shadow: inset 0 0 0 2px #000000;
}

.date-description {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 21px;
}

.date-warning {
  color: #ff5757;
}

.modal-field-group-people {
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal-field-group-people .modal-field-title {
  margin-right: 46px;
}

.modal-field-title.modal-field-title-child {
  margin-right: 82px;
}

.modal-field-people-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.field-people-button {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding: 14px 10px ;
  width: 40px;
  height: 48px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.field-people-button:focus-visible {
  outline: none;
}

.minus-button {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.plus-button {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

}

.field-people-button svg {
  fill: rgba(117, 97, 87, 0.3);
}

.field-people-button:hover svg {
  fill: #000000;
}

.field-people-button:focus-visible svg {
  fill: #000000;
  border-radius: 4px;
  outline: 3px solid #82b3d3;
}

.field-people-button:active svg {
  fill: #000000;
  opacity: 0.2;
}

.modal-field-people {
  box-sizing: border-box;
  width: 31px;
  max-height: 48px;
  line-height: 20px;
  padding: 14px 4px;
  text-align: center;
  margin: 0;
  border-radius: 0;
}

.modal-field-people:focus-visible {
  outline: none;
}

.modal-field-people-wrapper input[type=number]::-webkit-outer-spin-button,
.modal-field-people-wrapper input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.modal-field-people-wrapper input[type=number] {
    -moz-appearance: textfield;
}

.modal-form .button {
  width: 100%;
  padding: 18px 0;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
}


/* Тултип */

.field-people-label {
  position: relative;
}

.tooltip {
  position: absolute;
  top: -1px;
  right: 45px;
  z-index: 1;
}

.tooltip-button {
  display: block;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/icons/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip-button:hover {
  background-color: #68a2ca;
}

.tooltip-button:active {
  opacity: 0.3;
}

.tooltip-text {
  position: absolute;
  width: 216px;
  padding: 20px 18px 23px 22px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  right: 50%;
  transform: translateX(50%);
  margin-top: 15px;
  display: none;
}

.tooltip-text::after {
  position: absolute;
  content: "";
  width: 19px;
  height: 9px;
  top: -9px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/icons/tooltip-arrow.svg");
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}
