@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.body-container {
  background-color: #FFFFFF;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  padding: 8px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:focus {
  outline: none;
}

.button-brown {
  background-color: #756157;
}

.button-brown:hover,
.button-brown:focus-visible {
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue:hover,
.button-blue:focus-visible {
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button-green:hover,
.button-green:focus-visible {
  background-color: #6C9E42;
}

.button-green:active {
  background-color: #7DB54F;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-transparent:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.field {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
  width: 143px;
}

.field:hover {
  background-color: #E6E6E6;
}

.page-header {
  position: relative;
}

.main-nav {
  display: flex;
  align-items: center;
  padding: 0 70px;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 30px;
  width: 138px;
  height: 64px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 470px;
}

.navigation-user {
  max-width: 135px;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 20px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  box-shadow: inset 0 0 5px 3px #83B3D3;
}

.navigation-link:focus-visible {
  outline: none;
  box-shadow: inset 0 0 5px 3px #000000;
}

.navigation-link:active {
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user .navigation-link {
  display: block;
  width: 44px;
  height: 64px;
  padding: 0;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.navigation-link-search {
  background-image: url("../images/icons/icon-search.svg");
}

.navigation-link-favourites {
  background-image: url("../images/icons/icon-heart.svg");
}

.favorites-count {
  position: absolute;
  top: 11px;
  left: 20px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 0;
  color: #FFFFFF;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 10px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.favorites-count:hover {
  background-color: #6C9E42;
}

.main-nav .button {
  padding: 8px 34px;
}

.main-container {
  flex-grow: 1;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.section-title {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.section-description {
  padding: 0;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages {
  padding-top: 69px;
  display: flex;
  flex-direction: column;
}

.advantages .section-title {
  width: 620px;
  align-self: center;
  margin-bottom: 25px;
}

.advantages .section-description {
  margin-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
  width: 400px;
  min-height: 385px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-full {
  width: 1200px;
  background-color: #82B3D3;
}

.advantages-wrapper {
  position: relative;
  align-self: center;
  padding: 0 85px;
}

.advantages-title {
  display: inline-block;
  width: 172px;
  padding: 0;
  margin: 0;
  margin-bottom: 62px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-title::after {
  position: absolute;
  right: 170px;
  top: 85px;
  left: 170px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.advantages-description {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-full .advantages-title {
  color: #FFFFFF;
}

.advantages-item-full .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-full .advantages-description {
  color: #FFFFFF;
}

.services {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
}

.services .section-title {
  width: 505px;
  align-self: center;
  margin-bottom: 20px;
}

.services .section-description {
  margin-bottom: 64px;
}

.services-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.services-item {
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 81px 85px;
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(2n) {
  background-color: #FFFFFF;
}

.services-title {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-title::before {
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  left: 77px;
  right: 77px;
  bottom: 58px;
  width: 75px;
  height: 76px;
  content: "";
}

.services-title-house::before {
  background-image: url("../images/icons/advantage-icon-home.svg");
}

.services-title-food::before {
  background-image: url("../images/icons/advantage-icon-food.svg");
}

.services-title-souvenire::before {
  background-image: url("../images/icons/advantage-icon-prize.svg");
}

.services-description {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.hotel-search {
  padding: 96px 304px 0;
  text-align: center;
}

.hotel-search .section-title {
  margin-bottom: 20px;
}

.hotel-search .section-description {
  margin-bottom: 54px;
}

.hotel-search-link {
  padding: 8px 50px;
  margin-bottom: 96px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 258px 104px;
  color: #FFFFFF;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
}

.subscribe .section-title {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.subscribe .section-description {
  display: inline-block;
  width: 475px;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form input {
  flex-grow: 1;
  padding: 14px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.subscribe-field:focus-visible {
  outline: none;
  background-color: #E6E6E6;
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.subscribe-field:active {
  box-shadow: inset 0 0 0  2px #000000;
}

.subscribe-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:focus-visible {
  outline: none;
}

.social-icon {
  fill: #83B3D3;
}

.social-link:hover svg,
.social-link:focus-visible svg {
  fill: #68A2CA;
}

.social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-link-tel {
  display: block;
  padding: 5px 0;
  width: 720px;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

.contacts-link-tel:hover,
.contacts-link-tel:focus-visible {
  color: rgba(117, 97, 87, 1);
  outline: none;
}

.contacts-link-tel:active {
  color: rgba(117, 97, 87, 0.3);
}

.contacts-link-logo {
  width: 115px;
}

.contacts-link-logo:focus-visible {
  outline: none;
}

.contacts-logo-icon {
  fill: #000000;
}

.contacts-link-logo:hover .contacts-logo-icon,
.contacts-link-logo:focus-visible .contacts-logo-icon {
  fill: #756157;
}

.contacts-link-logo:active .contacts-logo-icon {
  fill: rgba(117, 97, 87, 0.3);
}

/* Страница каталога */

.catalog-header {
  padding: 35px 70px 70px;
  color:#FFFFFF;
  background-color: #000000;
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.catalog-header-title {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item::after {
  position: absolute;
  content: "";
  display: block;
  top: 5px;
  right: -18px;
  width: 7px;
  height: 10px;
  background-image: url("../images/icons/icon-breadcumps.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  min-width: 13px;
  min-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-home {
  background-image: url("../images/icons/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  outline: 3px solid #83B3D3;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: none;
}

.catalog-filter-group-price {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  margin-left: auto;
}

.field-wrapper {
  position: relative;
}

.field-wrapper input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px  #83B3D3;
  background-color: #E6E6E6;
}

.field-wrapper input:active {
  box-shadow: inset 0 0 0 2px  #000000;
}

.catalog-filter-group-price label {
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
  top: 12px;
  right: 20px;
}

.filter-group-title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.catalog-filter-group .field {
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  font-weight: 700;
}

.catalog-filter-group .field-price-from {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.catalog-filter-group .field-price-to {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 191px;
}

.filter-button-wrapper .button:not(:last-child) {
  margin-bottom: 32px;
}

.catalog-products {
  padding: 50px 70px 60px;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-products b {
  width: 360px;
  margin-right: auto;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  margin-right: 70px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.view-icon-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.view-icon {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-icon-current {
  border-color: #000000;
}

.view-icon-item:not(:last-child) {
  margin-right: 8px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 342px);
  gap: 18px 17px;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  list-style: none;
}

.product-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 16px;
  width: 300px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.product-card-link {
  display: block;
  grid-column: 1 / -1;
  text-decoration: none;
}

.product-card-image {
  display: block;
  width: 100%;
  object-fit: cover;
  margin-bottom: 16px;
}

.product-card-title {
  padding: 0;
  margin: 0;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.product-card-price {
  justify-self: end;
}

.product-card-rate {
  grid-column: 2;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 0 8px;
  text-align: center;
  border-radius: 4px;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item {
  width: 60px;
  margin-right: 8px;
  text-align: center;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 0;
  color: #FFFFFF;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-ellipses {
  color: #000000;
  background-color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  padding: 17px 0;
}

.catalog-subscribe {
  background-image: none;
}

.catalog-subscribe .section-title {
  color: #000000;
}

.catalog-subscribe .section-description {
  color: #333333;
}
